body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.game-container {
  display: flex;
}

.game {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-weight: 400;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 145px;
  height: 145px;
}

.square {
  width: 45px;
  height: 45px;
  margin-right: -1px;
  margin-bottom: -1px;
  border: 1px solid black;
  background-color: #f0f0f0;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square.X {
  color: #f00;
}

.square.O {
  color: #00f;
}

.status {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.gameInfo {
  margin-top: 15px;
}

.gameInfo button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.gameInfo button:hover {
  background-color: #0056b3;
}
